.cartItems {
    max-height: 30vw;
    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    .cartItem {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid $alternateColor;
        margin-bottom: 10px;
        .cartLeft {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-bottom: 10px;
            .cartTitle {
                font-size: 30px;
                font-weight: bold;
            }
            .cartItemInfo {
                display: flex;
                flex-direction: row;
                gap: 20px;
                font-size: 25px;
                span {
                    &:last-of-type {
                        border: 1px solid $alternateColor;
                        border-radius: 5px;
                        padding: 0 5px;
                    }
                }
            }
        }
        .cartButton {
            margin: auto 0;
            button {
                font-size: 20px;
                background-color: transparent;
                border: 2px solid $alternateColor;
                padding: 0 15px;
                border-radius: 4px;
                margin: 0 5px;
                &:hover {
                    background-color: $primaryColor;
                    cursor: pointer;
                }
            }
        }
    }
}

.cartAmount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    font-size: 35px;
}

.cartButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
    button {
        font-size: 20px;
        border-radius: 4px;
        width: 50px;
        color: $secondaryColor;
    }
    :first-of-type {
        border: 3px solid $alternateColor;
        background-color: $fifthColor;
        &:hover {
            border: 3px solid $alternateColor;
            background-color: $primaryColor;
            cursor: pointer;
        }
    }

    :last-of-type {
        border: 3px solid $fifthColor;
        background-color: $alternateColor;
        &:hover {
            border: 3px solid $alternateColor;
            background-color: $primaryColor;
            cursor: pointer;
        }
    }
}
