@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");

$primaryColor: #ffcdb2;
$secondaryColor: #6d6875;
$alternateColor: #e5989b;
$forthColor: #ffb4a2;
$fifthColor: #b5838d;
